body {
    background-color: #4aaaa5;
    /*background image - set it as background. When linking image file for css, the file is located
    relative to your css file. NOT relative to the html file. In this case, we have to go back one 
    folder*/
    background-image: url("../images/gravel.png");\
    width: 960px;
    margin: 0;
}

header {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
   
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 55px;
    
    /* fixed the position relatively to the window*/
    position: fixed;
    top: 0;
    left: 143px;

    font-family: 'Roboto', sans-serif;
    z-index: 3;
    
}


section {
    clear: both; /* trying to clear the float from the ul BUT NOT WORKING>*/
    background-color: #ffffff;
    width: 960px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    position: relative;
    top: 120px;
    
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: 2px solid #dddddd;
    z-index: 1;

    overflow: auto;
}

nav {
    color: #777777;
    background-color:#ffffff;
    /* removes the boolented points */
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding-top: 8px; /*move the navigation bar to the right corner*/
    padding-bottom: 22px;
    padding-left: 67%;
    /* make navigation bar fixed to the top */
    position: fixed;
    top: 0;
    border-bottom: solid 2px #cccccc;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
}

a:hover {
    background-color: #4aaaa5;
    padding: 15px;
    color: white;
}

li {
    /* make the list display in one line, horizontally */
    display: inline;
    float: left;
    padding-left: 25px;
}

li a {
    
    text-decoration: none; /*removes the underscore*/
    color: #777777;
}

#myPic {
    float: left;
    margin: 20px 20px 20px 0px;
}

.portImg {
    width: 272px;
    margin-left: 40px;
    margin-top: 0px;
    border: 3px solid black;
}
p {
    color: #777777;
    line-height: 30px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    
}

#contactDiv {
    height: 650px;
}
.form {
    clear: both;
    color: #777777;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    margin-top: 20px;
}

.button {
    background-color:  #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #dddddd;
}

input {
    width: 860px;
    height: 25px;
}

#messageBox {
    height: 100px;
}
footer {
    background-color: #666666;
    color: #ffffff;
    position: fixed;
    bottom: 0; 
    width: 100%;
    text-align: center;
    height: 40px;
    border-top: 5px solid #4aaaa5;

    z-index: 4;
}

#footerNote {
    color: #ffffff;
}

/* CSS for IMAGES starts here */



.info {
    background-color: #4aaaa5;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    color:#ffffff;
    border: 5px outset rgb(218, 216, 216);
    font-size: 30px;
}

#imgDiv{
    height: 2000px;
    position: relative;
}

.align-center {
    text-align: center;
}
.margin40 {
     margin-left: 40px;
 }


.floatingDiv {
     float: left;
 }
#label1 {
    position: absolute;
    top: 0;
    left: 0;
}







/* CSS for picture labels starts here */



/* MEDIA QUERY */







/* Tablet  */
@media screen and (max-width: 768px) {
    section {
        width: 660px;
        margin-left: auto;
        margin-right: auto;
        top: 100px;
    }
    #bio {
        width: 660px;;
        height: 660px;
    }
    #imgDiv {
        width: 660px;
    }
    #contactDiv {
        width: 660px;
    }
    header {
        left: 23px;
    }

    nav {
        padding-left: 60%;
    }
    input {
        width: 100%;
    }
    #messageBox {
        height: 100px;
    }
}



/* Phone on landscape  */
@media screen and (max-width: 640px) {
    header {
        position: static;
        width: 100%;
        padding-top:1px;
        padding-bottom: 10px;
    }
    nav {
        width: 100%;
        /* make navigation bar fixed to the top */
        position: static;
        padding-bottom: 30px;
        padding-top: 1px;
        padding-left: 23%;
        border-bottom: solid 2px #cccccc;
        font-family: 'Roboto', sans-serif;
        z-index: 2;
    }
    section {
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        top: 30px;
    }
    #bio {
        width: 400px;
        height: 1000px;
    }
    #imgDiv {
        width: 400px;
    }
    #contactDiv {
        width: 400px;
    }
    input {
        width: 80%;
    }
    #messageBox {
        height: 100px;
    }

   
/* Phone at 320 x 480 */
@media screen and (max-width: 320px) {
    header {
        position: static;
        width: 100%;
        padding-top:1px;
        padding-bottom: 10px;
    }
    nav {
        width: 100%;
        /* make navigation bar fixed to the top */
        position: static;
        padding-bottom: 30px;
        padding-top: 1px;
        padding-left: 23%;
        border-bottom: solid 2px #cccccc;
        font-family: 'Roboto', sans-serif;
        z-index: 2;
    }
    section {
        margin-left: auto;
        margin-right: auto;
        top: 30px;
    }
    #bio {
        height: 1250px;
        width: 290px;
    }
    #imgDiv {
        height: 1500px;
        width: 290px;
    }
    #contactDiv {
        height: 500px;
        width: 290px;
    }
    .portImg{
        width: 140px;
    }
    input {
        width: 100%;
    }
    #messageBox {
        height: 100px;
    }
}